
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bootstrap - 简洁、直观、强悍、移动设备优先的前端开发框架，让web开发更迅速、简单。">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="author" content="王赛 翻译整理">

    <title>

        Cards &middot; Bootstrap

    </title>

    <!-- Bootstrap core CSS -->
    <link href="http://v4.bootcss.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Documentation extras -->
    <link href="http://v4.bootcss.com/assets/css/docs.min.css" rel="stylesheet">

    <!-- Google Web fonts -->
    <link href="http://fonts.useso.com/css?family=Roboto:300,400,400italic,500" rel="stylesheet">
    <link href='http://fonts.useso.com/css?family=Source+Sans+Pro:400,300,400italic,600' rel='stylesheet' type='text/css'>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="http://v4.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    <link rel="icon" href="/favicon.ico">

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?fc4ecdb3b7e797fdd7347e29dbec6802";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
        .card-columns {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 1.25rem;
            -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
        }
    </style>
</head>
<body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
<div class="card-columns  column-two">
    <div class="card">
        <img class="card-img-top" data-src="holder.js/100%x160/" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
    <div class="card card-block">
        <blockquote class="card-blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>
                <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card">
        <img class="card-img-top" data-src="holder.js/100%x160/" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card card-block card-inverse card-primary text-center">
        <blockquote class="card-blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer>
                <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card card-block text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card card-block text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card card-block text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card card-block text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card card-block text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card card-block text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card card-block text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card card-block text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card">
        <img class="card-img" data-src="holder.js/100%x260/" alt="Card image">
    </div>
    <div class="card card-block text-right">
        <blockquote class="card-blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>
                <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="..http://v4.bootcss.com/assets/js/vendor/jquery.min.js"><\/script>')</script>


<script src="http://v4.bootcss.com/dist/js/bootstrap.js"></script>




<script src="http://v4.bootcss.com/assets/js/vendor/holder.min.js"></script>

<script src="http://v4.bootcss.com/assets/js/vendor/jekyll-search.js"></script>

<script src="http://v4.bootcss.com/assets/js/vendor/ZeroClipboard.min.js"></script>

<script src="http://v4.bootcss.com/assets/js/vendor/anchor.js"></script>

<script src="http://v4.bootcss.com/assets/js/vendor/tether.min.js"></script>

<script src="http://v4.bootcss.com/assets/js/src/application.js"></script>



<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://v4.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>
